.list-of-url-method {
    display: inline;
    li {
        margin: 3px;
        padding: 7px 0px;
        border: 1px solid rgba(0, 0, 0, 0.548);
        .method {
            color: rgba(105, 19, 19, 0.877);
        }
    }
    :hover {
        .method{
            color: whitesmoke;
        }
        padding: 8px;
        background-color: rgba(49, 121, 121, 0.692);
        color: white;
    }
}
